*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  font-size: 62.5%;
}

@view-transition {
  navigation: auto;
}

:root {
  --Frame-Header-block-size: 4rem;

  --theme-background-1-auto: #fafaf9;

  --theme-font-size-auto: 1.6rem;
  --theme-font-family-auto: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  --theme-font-family-heading-auto: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;

  --theme-spacing-auto: 1.5rem;
}

body {
  background: var(--theme-background-1-auto);
  font-size: var(--theme-font-size-auto);
  font-family: var(--theme-font-family-auto);
}

.Heading {
  margin: 0;
  font-family: var(--theme-font-family-emphasis-strong);
}

.TextBlock {
  margin: 0;
}

.Button {
  background: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 0.3rem;
}

.Frame {
  display: grid;
  min-block-size: 100vh;
  min-block-size: 100dvh;
}

.Frame_Content {
  position: relative;
  grid-template-rows: auto 1fr;
}

.Frame_Header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1000;
  block-size: var(--Frame-Header-block-size);
  padding: 1rem;
  background: black;
  color: white;
}

.Frame_Navigation {
  > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  a {
    color: white;
  }
}

.Page {
  padding: 4.8rem 1.5rem;
  max-inline-size: 120rem;
  margin: 0 auto;
}

@media screen and (min-width: 46.875em) {
  .Page {
    padding: 6.4rem 5rem;
  }
}

.ProductDetails {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: minmax(0, 1fr);
}

@media (min-width: 768px) {
  .ProductDetails {
    gap: 5rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
  
  .ProductDetails_Image {
    position: sticky;
    top: calc(var(--Frame-Header-block-size) + 1rem);
  }
}

.ProductDetails_Image {
  margin: 0 auto;
  background-color: black;
  aspect-ratio: 1 / 1;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  inline-size: min(calc( max( 300px , calc(100vh - 400px )) * 1.0 ), 100%);

  & > img {
    inline-size: 100%;
    max-inline-size: 100%;
    content-fit: contain;
  }
}

.ProductDetails_Content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Page {
  transition: opacity 0.2s ease;
}

.htmx-request {
  opacity: 0.5;
}

pre {
  background: lightgray;
  padding: 1rem;
  overflow: auto;
  border-radius: 8px;
}
